@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --col-low: rgb(66, 66, 192);
  --col-medium: rgb(207, 154, 54);
  --col-danger: rgb(199, 39, 39);

  --col-theme: rgb(5, 2, 5);
  --col-light: rgb(201, 201, 201);
  --col-highlight: grey;
  --col-background: lightblue;

  --font-main: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-main);
  color: var(--col-light);
  height: 100vh;
  width: 100%;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: minmax(12rem, min-content) 1fr;
  max-width: 1000px;
  height: 80vh;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(209, 209, 209, 0.1);
  overflow: hidden;
  margin: 3rem;
  width: 90%;
}

.header {
  padding: 0.5rem;
  color: var(--col-theme);
  background: rgba(255, 255, 255, 0.7);
}
.nav {
  display: flex;
  padding: 1rem;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.menu-item {
  margin: -0.5rem;
  display: flex;
  font-size: var(--font-size-sm);
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
}

.menu-item svg {
  transform: scale(1.2);
}

.menu-item:first-child svg {
  color: rgb(180, 47, 180);
}

.menu-item:nth-child(2) svg {
  color: rgb(73, 184, 73);
}

.menu-item:nth-child(3) svg {
  color: var(--col-low);
}

.menu-item:nth-child(4) svg {
  color: var(--col-danger);
}

.nav-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.projects-title {
}

.projects-list {
  overflow-y: auto;
  max-height: 15rem;
}

.add-project-button {
  margin-top: auto;
}

.project-li-elem {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-li-title {
}

.project-container {
  background: rgba(255, 255, 255, 0.2);
  max-height: 80vh;
  color: var(--col-theme);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-title {
}

.sort-button {
  margin-left: auto;
}

.task-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.task-li-elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-complete-checkbox {
}

.task-li-title {
  justify-self: flex-start;
  padding-left: 1rem;
}

.task-li-date {
  margin-left: auto;
  padding-right: 1rem;
}

.task-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.add-task-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.list-modal-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 2rem;
}

.task-modal-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 2rem;
}

.notes-modal-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 2rem;
}
